body {
    background-image: url("../images/background.png");
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center center;  */
}

p,
h1,
h2,
h3 {
    color: azure;

}